* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #272838;
}

.wrapper {
  display: flex;
  width: 940px;
  min-height: 100%;
  margin: 0 auto;
}

.cards-list {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: auto;
  padding: 0;
}

.cards-list__item {
  list-style: none;

  transition: all 0.6s;
  transform: perspective(800px);
}

.cards-list__item:not(:first-child) {
  margin-left: 50px;
}

.cards-list:hover .cards-list__item {
  opacity: 0.5;
  transform: perspective(800px) rotateX(10deg) rotateY(25deg) scale(0.9);
  filter: blur(2px);
}

.cards-list:hover .cards-list__item:not(:first-child) {
  margin-left: -75px;
}

.cards-list:hover .cards-list__item:hover {
  z-index: 1;

  opacity: 1;
  transform: perspective(800px) rotateX(10deg) rotateY(-15deg) translateY(-50px) scale(1);
  filter: blur(0);
}

.card {
  width: 280px;
  min-height: 335px;
  padding: 25px;

  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;

  background-image: linear-gradient(325deg, #3f5efb 0%, #fc466b 100%);
  border-radius: 25px;
}

.card__preview {
  display: block;

  width: 100px;
  height: 100px;
  margin: 0 auto;

  border-radius: 50%;
}

.card__title {
  margin: 20px 0;

  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.card__description {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
